h1{
  margin: 1;
  padding: 10px 1px;
  text-align: center;
  color: #736aff;
  background-color: #1A008C; 
  border: 4px  solid black;
  box-shadow: 5px 5px 1px #00003C;
   
}

img.myTable{
 width: 300px;
}

h1 {
text-align: center;
}

table.myTable{
  align: center;
width: 75%;
  margin-left: 135px;
  background: grey;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 10px 10px 5px black ; 
  background-color: #C68E17;
  border-radius: 20px;
}

Table.myTable th{
  padding: 20px; 
  text-align: center; 
  border: 1px solid black; 
  border-width: 0px 0px 2px 0px; 
}

img.myTable2{
 width: 75px;
}

h1 {
text-align: center;
}

table.myTable2{
  align: center;
width: 10%;
  margin-left: 500px;
  background: grey;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 10px 10px 5px black ; 
  background-color: #C68E17;
  border-radius: 20px;
}

Table.myTable2 th{
  padding: 20px; 
  text-align: center; 
  border: 1px solid black; 
  border-width: 0px 0px 2px 0px; 
}


td {
  font-size: 20px;
  text-align: center;
}
th {
  font-size: 30px;
  
}

body{
  
  background-image: url(https://image.winudf.com/v2/image/YXBwaW52ZW50b3IuYWlfYnVsbGZyb2dsaW9uaGVhZC5DaXJjbGVfR2FtZV9zY3JlZW5zaG90c18yXzM0NjUwMDMx/screen-2.jpg?h=355&amp;fakeurl=1&amp;type=.jpg);
}